<br />
<br />
<br />

<div class="jumbotron jumbotron-fluid" id="jumbo">
    <div class="container">
        <div class="div1 container">
            <div class="row">
                <div class="square-box col-sm" id="seed">
                    <div class='square-content'>
                        <div>
                            <span>
                                Seed
                            </span>
                        </div>
                    </div>
                </div>
                <div class="square-box col-sm" id="leaf">
                    <div class='square-content'>
                        <div>
                            <span>
                                Leaf
                            </span>
                        </div>
                    </div>
                </div>
                <div class="square-box col-sm" id="bloom">
                    <div class='square-content'>
                        <div>
                            <span>
                                Bloom
                            </span>
                        </div>
                    </div>
                </div>
                <div class="square-box col-sm" id="flower">
                    <div class='square-content'>
                        <div>
                            <span>
                                Flourished
                            </span>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
        <h1 class="display-4">Vocabular</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>

    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Grammar</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Reading</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>