<br />

    <div class="currentLevel row jumbotron col-xs-12 col-sm-6 col-md-4">
        Current level: 
    </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-9"></div>
            <div class="rounded-top col-xs-6 col-md-3 text-center" id="vocabTitle"><h3><span class="centerWhite">Vocabular</span></h3></div>
        </div>
        <div class="row jumbotron jumbotron-fluid" id="jumbo">
            <div class="container">
                <div class="row levels">
                    <div class="square-box col-sm" id="seed">
                        <div class='square-content'>
                            <div>
                                <span>
                                    Seed
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="square-box col-sm" id="leaf">
                        <div class='square-content'>
                            <div>
                                <span>
                                    Leaf
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="square-box col-sm" id="bloom">
                        <div class='square-content'>
                            <div>
                                <span>
                                    Bloom
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="square-box col-sm" id="flower">
                        <div class='square-content'>
                            <div>
                                <span>
                                    Flourished
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div id="circle-radical"></div>
                        <div class="text-center" style="margin-bottom:1em;">
                            <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#radicalList" aria-expanded="false" aria-controls="collapseExample">
                                Radical
                            </button>
                        </div>
                        <div class="collapse" id="radicalList">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div id="circle-kanji"></div>
                        <div class="text-center" style="margin-bottom:1em;">
                            <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#kanjiList" aria-expanded="false" aria-controls="collapseExample">
                                Kanji
                            </button>
                        </div>
                        <div class="collapse" id="kanjiList">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div id="circle-word"></div>
                        <div class="text-center" style="margin-bottom:1em;">
                            <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#wordsList" aria-expanded="false" aria-controls="collapseExample">
                                Words
                            </button>
                        </div>
                        <div class="collapse" id="wordsList">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Grammar</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Reading</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>