@model WebApp.DTOs.LoginDto;
@using WebApp.DTOs;

@{
    ViewBag.Title = "Login";
    Layout = null;
}



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LogIn</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="~/css/login.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/js/login.js" rel="stylesheet">

    <link href="~/toastr/toastr.css" rel="stylesheet" />
    <script src="~/toastr/toastr.js"></script>
    <link rel="icon" href="~/imagesFoxy/logoFoxy.png">
</head>

<body class="text-center">
        @if(!string.IsNullOrEmpty(SharedInfo.ShowSuccessMessage))
         {
            <script>
                toastr.success("You are now registered!")
            </script>
            SharedInfo.ShowSuccessMessage = "";
         }

        <form class="form-signin" action="login" name="index" id="loginForm" method="post">
            <img src="~/imagesFoxy/Tori-gate.png" class="mb-4" src="" alt="" width="100%" height="">
            <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>

            <label for="inputEmail" class="sr-only">Email Address</label>
            <input class="form-control" name="Email" type="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter your email address.">
            <p class="help-block text-danger">
                <span asp-validation-for="Email"></span>
            </p>

            <label for="inputPassword" class="sr-only">Password</label>
            <input class="form-control" name="Password" type="password" placeholder="Password" required="required" data-validation-required-message="Please enter your password.">
            <p class="help-block text-danger">
                <span asp-validation-for="Password"></span>
            </p>
            <br>
            <div id="success"></div>
            <div class="form-group">
                <button type="submit" class="btn btn-info btn-xl" id="sendMessageButton">Sign In</button>
            </div>
            <p class="help-block text-danger"></p>

            @if (!SharedInfo.LoginError.Equals(""))
             {
                <div id="error-alert" class="alert alert-danger alert-dismissible form-control" role="alert" padding-top="25px">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    @SharedInfo.LoginError
                    @{
                        SharedInfo.LoginError = "";
                    }
                </div>
             }
            <br />
            <p class="small">
                Still don't have an account? Sign up <a asp-controller="Register" asp-action="Index">Here</a>
            </p>
        </form>
</body>