@model WebApp.DTOs.RegisterDto;


@{
    ViewBag.Title = "Register Add User";
}

<!-- Register Section -->
<section id="contact">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Contact Me</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form action="AddUser" name="register" id="registerForm" method="post">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Username</label>
                            <input class="form-control" name="UserName" type="text" placeholder="Username" required="required" data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                            <span asp-validation-for="UserName"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Email Address</label>
                            <input class="form-control" name="Email" type="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Password</label>
                            <input class="form-control" name="Password" type="password" placeholder="Password" required="required" data-validation-required-message="Please enter your password.">
                            <p class="help-block text-danger"></p>
                            <span asp-validation-for="Password"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Repeat Password</label>
                            <input class="form-control" name="ConfirmPassword" type="password" placeholder="Confirm Password" required="required" data-validation-required-message="Please enter your password again."></input>
                            <p class="help-block text-danger"></p>
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Send</button>
                    </div>
                </form>
                <form method="post" action="register/x">
                    <label>omg</label>
                    <input type="text" name="name" placeholder="kkkkkk" />

                    <input type="submit" value="Save me" />
                </form>
            </div>
        </div>
    </div>
</section>