<div class="row mini-title-categories" style="position:relative!important">
    <div class="">
        <p style="display: inline;">
            1. Declaring something is so and so using 「だ」
        </p>
    </div>

</div>
<div class="container" style="margin-top:1em;margin-bottom:1em">
    One of the trickiest part of Japanese is that there is no verb for the state-of-being like the verb
    "to be" in English. You can, however, declare what something is by attaching the Hiragana
    character 「だ」 to a noun or na-adjective only. (We will learn about na-adjectives in the
    section on adjectives later.)
</div>
<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Declaring that something is so using 「だ」</h4>
    <p>Attach 「だ」 to the noun or na-adjective</p>
    <hr>
    <p class="mb-0" style="display:inline">
        Example: ⼈＋だ＝⼈
    <p style="color:orangered;display:inline!important">だ</p>
    </p>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Examples</th>
            <th scope="col">Translation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>⼈<p style="color:orangered;display:inline!important">だ</p>。</td>
            <td>Is person.</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>
                学⽣<p style="color:orangered;display:inline!important">だ</p>。
            </td>
            <td>Is student.</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>元気<p style="color:orangered;display:inline!important">だ</p>。</td>
            <td>Is well.</td>
        </tr>
    </tbody>
</table>
<div class="row mini-title-categories" style="position:relative!important;margin-top:4em">
    <div class="">
        <p style="display: inline;">
            2. Conjugating to the negative state-of-being
        </p>
    </div>

</div>
<div class="container" style="margin-top:1em;margin-bottom:1em">
    In Japanese, negative and past tense are all expressed by conjugation. We can conjugate a
    noun or adjective to either its negative or past tense to say that something is not [X] or that
    something was [X]. This may be a bit hard to grasp at first but none of these state-of-being
    conjugations make anything declarative like 「だ」 does. We'll learn how to make these tenses
    declarative by attaching 「だ」 to the end of the sentence in a later lesson.
    First, for the negative, attach 「じゃない」 to the noun or na-adjective.
</div>
<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Conjugation rules for the negative state-of-being</h4>
    <p>Attach 「じゃない」 to the noun or na-adjective</p>
    <hr>
    <p class="mb-0" style="display:inline">
        Example: 学⽣＋じゃない＝学⽣
    <p style="color:orangered;display:inline!important">じゃない</p>
    </p>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Examples</th>
            <th scope="col">Translation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>学⽣<p style="color:orangered;display:inline!important">じゃない</p>。</td>
            <td>Is not student.</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>
                友達<p style="color:orangered;display:inline!important">じゃない</p>。
            </td>
            <td>
                Is not friend.
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>
                元気<p style="color:orangered;display:inline!important">じゃない</p>。
            </td>
            <td>
                Is not well.
            </td>
        </tr>
    </tbody>
</table>