<div class="row mini-title-categories" style="position:relative!important">
    <div class="">
        <p style="display: inline;">
            1. Defining grammatical functions with particles
        </p>
    </div>

</div>
<div class="container" style="margin-top:1em;margin-bottom:1em">
    We want to now make good use of what we learned in the last lesson by associating a noun with
    another noun. This is done with something called particles. Particles are one or more Hiragana
    characters that attach to the end of a word to define the grammatical function of that word in the
    sentence. Using the correct particles is very important because the meaning of a sentence can
    completely change just by changing the particles. For example, the sentence "Eat fish." can
    become "The fish eats." simply by changing one particle.

</div>
<div class="row mini-title-categories" style="position:relative!important;margin-top:4em">
    <div class="">
        <p style="display: inline;">
            2.  The 「は」 topic particle
        </p>
    </div>

</div>
<div class="container" style="margin-top:1em;margin-bottom:1em">
    The first particle we will learn is the topic particle. The topic particle identifies what it is that you're
    talking about, essentially the topic of your sentence. Let's say a person says, "Not student." This
    is a perfectly valid sentence in Japanese but it doesn't tell us much without knowing what the
    person is talking about. The topic particle will allow us to express what our sentences are about.
    The topic particle is the character 「は」. Now, while this character is normally pronounced as
    /ha/, it is pronounced /wa/ only when it is being used as the topic particle.
</div>
<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Example 1</h4>
    <p style="display:inline">
        ボブ：アリス
    <p style="color:orangered;display:inline!important">
        は
    </p>学⽣？
    <p>Bob: Is Alice (you) student?</p>

    <p>
        アリス：うん、学⽣。
    </p>
    <p>
        Alice: Yeah, (I) am.
    </p>
    <hr>
    <p>
        Here, Bob is indicating that his question is about Alice. Notice that once the topic is established,
        Alice does not have to repeat the topic to answer the question about herself.
    </p>
</div>
<div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">Example 2</h4>
    <p style="display:inline">
        ボブ：ジョン
    <p style="color:orangered;display:inline!important">
        は
    </p>は明⽇？
    <p>
        Bob: John is tomorrow?
    </p>
    <p>
        アリス：ううん、明⽇じゃない。
    </p><p>
        Alice: No, not tomorrow.
    </p>
    <hr>
    <p>
        Since we have no context, we don't have enough information to make any sense of this conversation.
        It obviously makes no sense for John to actually be tomorrow. Given a context, as
        long as the sentence has something to do with John and tomorrow, it can mean anything. For
        instance, they could be talking about when John is taking an exam.
    </p>
</div>

<div class="row mini-title-categories" style="position:relative!important;margin-top:4em">
    <div class="">
        <p style="display: inline;">
            3.  The 「も」 inclusive topic particle
        </p>
    </div>

</div>
<div class="container" style="margin-top:1em;margin-bottom:1em">
    Another particle that is very similar to the topic particle is the inclusive topic particle. It is essentially
    the topic particle with the additional meaning of "also". Basically, it can introduce another
    topic in addition to the current topic. The inclusive topic particle is the 「も」 character and its
    use is best explained by an example.
</div>
<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Example 1</h4>
    <p>
        ボブ：アリスは学⽣？
        Bob: Is Alice (you) student?
    </p>
    <p style="display:inline">
        ボブ：アリス
    <p style="color:orangered;display:inline!important">
        は
    </p>
    学⽣？
    Bob: Is Alice (you) student?
    </p>

    <hr>
    <p>
        Here, Bob is indicating that his question is about Alice. Notice that once the topic is established,
        Alice does not have to repeat the topic to answer the question about herself.
    </p>
</div>
<div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">Example 2</h4>
    <p style="display:inline">
        ボブ：ジョン
    <p style="color:orangered;display:inline!important">
        は
    </p>は明⽇？
    Bob: John is tomorrow?
    </p>
    <p>
        アリス：ううん、明⽇じゃない。
        Alice: No, not tomorrow.
    </p>
    <hr>
    <p>
        Since we have no context, we don't have enough information to make any sense of this conversation.
        It obviously makes no sense for John to actually be tomorrow. Given a context, as
        long as the sentence has something to do with John and tomorrow, it can mean anything. For
        instance, they could be talking about when John is taking an exam.
    </p>
</div>


<div class="row mini-title-categories" style="position:relative!important;margin-top:4em">
    <div class="">
        <p style="display: inline;">
            3.  The 「が」 identifier particle
        </p>
    </div>

</div>
<div class="container" style="margin-top:1em;margin-bottom:1em">
    Ok, so we can make a topic using the 「は」 and 「も」 particle. But what if we donʼt know
    what the topic is? What if I wanted to ask, “Who is the student?”What I need is some kind of
    identifier because I don't know who the student is. If I use the topic particle, the question would
    become, “Is who the student?”and that doesn't make any sense because "who" is not an actual
    person.
    This is where the 「が」 particle comes into play. It is also referred to as the subject particle
    but I hate that name since "subject" means something completely different in English grammar.
    Instead, I call it the identifier particle because the particle indicates that the speaker wants to
    identify something unspecified.
</div>
<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Example 1</h4>
    <p>
        ボブ：誰が学⽣？
        </p><p>
        Bob: Who is the one that is student?
    </p>
    <p style="display:inline">
        アリス：ジョンが学⽣。
        </p>
    <p>
        Alice: John is the one who is student
    </p>
    学⽣？
    Bob: Is Alice (you) student?
    </p>

    <hr>
    <p>
        Bob wants to identify who among all the possible candidates is a student. Alice responds that
        John is the one. Notice, Alice could also have answered with the topic particle to indicate that,
        speaking of John, she knows that he is a student (maybe not the student). You can see the
        difference in the next example.
    </p>
</div>
