body {
    font-family: 'Lato';
    padding-top: 4.5rem;
    min-width: 350px; /* Suppose you want minimum width of 1000px */
    width: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Montserrat';
}

:root {
    --main-color-1: rgb(255, 94, 50);
    --main-color-2: rgb(255, 144, 2);
    --main-color-3: rgb(254, 211, 166);
    --main-color-4: rgb(115, 184, 200);
    --main-color-5: rgb(90, 124, 125);
    --main-color-menu: rgb(9, 36, 58);
    --main-color-radical: #96b9d7;
    --main-color-kanji: #ca403a;
    --main-color-word: #7b9567;
}

.ja {
    font-family: meiryo, sans-serif;
}

.badge-kanji{
    background-color: var(--main-color-kanji)!important;
}

.badge-radical {
    background-color: var(--main-color-radical)!important;
}

.badge-word {
    background-color: var(--main-color-word)!important;
}

.badge-vocab-lev {
    font-size: 1.5em;
    color: white;
    margin-bottom: 0.2em;
    margin-right: 0.02em!important;
    width: auto !important;
    display: inline-block !important;
    cursor: pointer;
    font-weight: normal!important;
}

.badge-vocab-lev:hover{
    opacity: 0.8!important;
}

.name-style-level {
    position: relative !important;
    bottom: 0 !important;
    left: 0 !important;
    text-transform: uppercase;
    padding-top: 3.5vmin;
    margin: 0 !important;
    border-bottom: solid;
    font-size: 1.8em !important;
    width: 100%!important;
    color: rgba(38, 38, 82, 0.95);
    border-color: rgba(38, 38, 82, 0.95);
    border-bottom-width: 0.1vmin !important;
}
