body {
    font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Montserrat';
}

:root {
    --main-color-1: rgb(255, 94, 50);
    --main-color-2: rgb(255, 144, 2);
    --main-color-3: rgb(254, 211, 166);
    --main-color-4: rgb(115, 184, 200);
    --main-color-5: rgb(90, 124, 125);
    --main-color-menu: rgb(9, 36, 58);
    --main-color-radical: #96b9d7;
    --main-color-kanji: #717c9a;
    --main-color-word: #a77389;
}

#my-container{
    margin-top: 0;
}

#seed {
    background-color: var(--main-color-5)
}

#leaf {
    background-color: var(--main-color-4)
}
#bloom {
    background-color: var(--main-color-3)
}

#flower {
    background-color: var(--main-color-2)
}

#jumbo {
    padding: 1em;
    margin-bottom:2em;
}

.levels{
    margin-bottom:2em;
}
.container-level {
    height: 10em;

}
#vocabTitle{
    background-color: rgba(219, 224, 229, 1);
    height: 3em;
}

.square-box {
    position: relative;
    width: 50%;
    overflow: hidden;
}

    .square-box:before {
        content: "";
        display: block;
        padding-top: 75%;
    }

.centerWhite {
    text-align: right;
    vertical-align: middle;
}

.square-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}

    .square-content div {
        display: table;
        width: 100%;
        height: 100%;
    }

    .square-content span {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        color: white
    }

.currentLevel {
    margin-bottom: 0;
    background-color: rgba(241, 246, 250, 1)
}