body {
    font-family: 'Lato';
    min-height: 75rem;
    padding-top: 4.5rem;
    min-width: 350px; /* Suppose you want minimum width of 1000px */
    width: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Montserrat';
}

:root {
    --main-color-1: rgb(255, 94, 50);
    --main-color-2: rgb(255, 144, 2);
    --main-color-3: rgb(254, 211, 166);
    --main-color-4: rgb(115, 184, 200);
    --main-color-5: rgb(90, 124, 125);
    --main-color-menu: rgb(9, 36, 58);
    --main-color-radical: #96b9d7;
    --main-color-kanji: #ca403a;
    --main-color-word: #7b9567;
}

.ja {
    font-family: meiryo, sans-serif;
}


