body, html {
    width: 100%;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #ebebeb;
}

.hide-a-div {
    visibility: hidden;
}

.radical-color {
    background-color: #1e6f83!important;
}
.kanji-color {
    background-color: #af615d !important;
}
.word-color {
    background-color: #814b75 !important;
}

.mini-radical-color {
    background-color: #45a5bd !important;
}

.mini-kanji-color {
    background-color: #cc7b77 !important;
}

.mini-word-color {
    background-color: #ae75a2 !important;
}

:root {
    --main-color-div-info: #fcfcfc;
}

#first-div {
    background-color: #21323a;
    width: 100%;
    height: 5%;
    border-collapse: collapse;
}

#second-div {
    position: absolute;
    height: 85%;
    width: 100%;
    background-color: #808080;
    border-collapse: collapse;
    color: #fcfcfc;
}

#third-div {
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: #21323a;
    border-collapse: collapse;
    bottom: 0;
}

.lesson-container {
    position:absolute;
    width: 100%;
    height: 100%;

}

.div-for-name {
    height: 240px;
    width: 100%;
    text-align: center;
    font-size: 10em;
    color: white;
    background-color: #1e6f83;
}

.upper-header {
    height: 10px;
    background-color: #202c39;
}

.div-for-meaning {
    height: 45px;
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    color: white;
    background-color: #45a5bd;
}

.div-for-sound {
    height: 35px;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: white;
    background-color: #bbb8b8;
}

.div-for-meaningmnemonic {
    padding: 1em;
    height: 150px;
    color: white;
    background-color: #bbb8b8;
    margin-top: 2em;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    font-size: 1em;
    border-radius: 10px;
}

.div-for-readingmnemoning {
    padding: 1em;
    height: 170px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1em;
    border-radius: 10px;
    text-align: left;
    color: white;
    background-color: #bbb8b8;
    margin-top: 1em;
}

.my-navbar-dark {
    background-color: #202c39;
    color: white;
}

nav-item + show {
    color: #202c39;
    background-color: var(--main-color-div-info);
}

a{
    color:whitesmoke;
    font-size:1.1em;
}
.info-div {
    position: relative;
    display: inline-block;
    background-color: var(--main-color-div-info);
    width: 97%;
    height: 20em;
}

.left-button {
    text-align: center;
    height: 20em;
    line-height: 20em;
    vertical-align: middle;
    display: inline-block;
    background-color: var(--main-color-div-info);
    width: 2em !important;
    cursor: pointer;
}
    .left-button:hover {
        background-color: #d8d8d8;
    }

.icon-container {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    opacity: 0.4;
}

.right-button {
    text-align: center;
    vertical-align: middle;
    line-height: 20em;
    display: inline-block;
    background-color: var(--main-color-div-info);
    height: 20em;
    width: 2em !important;
    cursor: pointer;
}
    .right-button:hover {
        background-color: #d8d8d8;
    }

.middle-div {
    display: inline-block;
    height: 20em;
}

.left-right-icon {
    position: relative !important;
    height: 1.5em;
    width: 1.5em;
    fill: gray !important
}

.effect1 {
    -webkit-box-shadow: 0px 10px 6px -6px #777;
    -moz-box-shadow: 0px 10px 6px -6px #777;
    box-shadow: 4px 10px 6px -6px #777, -1px 0 .1em rgba(119, 119, 119, 0.29);
}