<div class="container text-center" style="vertical-align:central;padding-top:1em;">
    <img src="~/imagesFoxy/oxySleepyReview.png" class="" style="width:50%">
    <div class="row text-center" style="width:100%;display:block; margin-top:2em">
        <a style="all:unset!important" asp-controller="Dashboard" asp-action="Index">
            <div class="btn btn-lg btn-outline-dark">
                Back to Dashboard
            </div>
        </a>
    </div>
</div>